
.probe
/.idea/
/.mixin.out/
/.vscode/
/Chicken Cow Block-natives/
/crash-reports/
/CustomSkinLoader/
/defaultconfigs/
/downloads/
/dynamic-data-pack-cache/
/dynamic-resource-pack-cache/
/logs/
/modern_industrialization/
/PCL/
/saves/
/screenshots/
/shaderpacks/
/resourcepacks/
/Chicken Cow Block.jar
/Chicken Cow Block.json
/command_history.txt
/launcher_profiles.json
/options.txt
/usercache.json
/usernamecache.json
/data/
/ftbbackups3/
/local/
/moddata/
/roostunleashed/
*.bak
