"Server" {
	# Sets how far energy core stabilizer can be from the energy core.
	I:"stabilizerRange"=50

	# Sets how far energy pylon can find the energy core.
	I:"pylonRange"=32

	# Allows you to adjust the render scales of each energy core tier.
	D:"coreScales" <
		1.1
		1.7
		2.3
		3.6
		5.5
		7.1
		8.6
		40.0
	>

	# Allows you to adjust the rotation speeds of each energy core tier.
	D:"coreRotationSpeeds" <
		1.0
		1.0
		1.0
		1.0
		1.0
		1.0
		1.0
		1.0
	>
}

"Client" {
	# Enable gradient for rendering energy core.
	B:"enableGradient"=false
}
